<div class="row">
    <div *ngFor="let item of data" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><b>Title: </b>{{item.title|slice:0:12}}</h5>
          
          <p class="card-text"><b>Price: </b>{{item.price}}₺</p>
          <p class="card-text"><b>Description: </b>{{item.description}}</p>
      <button class="btn btn-outline-primary" (click)="addToCart(item)">
        Add to Cart
      </button>
        </div>
      </div>
      
  </div>
